

<a href="#" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

<footer class="footer">
  <div>
    <ul class="icons">
      {% if site.linkedin_username %}
      <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
       target="_blank"   class="icon fab fa-linkedin">
          <!-- <span class="label">Linkedin</span> -->
        </a></li>
     {% endif %} 
      {% if site.google_scholar_username %}
      <!-- <i class="ai ai-google-scholar-square ai-3x"></i> -->
      <li><a href="https://scholar.google.co.uk/citations?user={{ site.google_scholar_username }}"
         target="_blank"  class="icon ai ai-google-scholar-square">
           <!-- <span class="label">Google Scholar</span> -->
         </a></li>
      {% endif %}
       {% if site.researchgate_username %}
       <li><a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}"
         target="_blank"  class="icon ai ai-researchgate">
           <!-- <span class="label">Researchgate</span> -->
         </a></li>
      {% endif %} 
     {% if site.arxiv_username %}
     <li><a href="https://arxiv.org/search/physics?searchtype=author&query={{ site.arxiv_username }}" 
        target="_blank" class="icon ai ai-arxiv">
         <!-- <span class="label">arXiv</span> -->
       </a></li>
     {% endif %}
     {% if site.github_username %}
     <li><a href="https://github.com/{{ site.github_username }}"  target="_blank" class="icon fab fa-github">
             <!-- <span class="label">Github</span> -->
           </a></li>
     {% endif %} 
     {% if site.gitlab_username %}
     <li><a href="https://gitlab.com/{{ site.gitlab_username }}"  target="_blank" class="icon fab fa-gitlab">
             <!-- <span class="label">Gitlab</span> -->
           </a></li>
     {% endif %} 

      <!-- {% if site.facebook_username %}
       <li><a href="https://www.facebook.com/{{ site.facebook_username }}"
         target="_blank" class="icon fa fa-facebook">
          <span class="label">Facebook</span></a></li>
       {% endif %}  -->
     </ul>
     </div>
       <div class="copyright">
   &copy; 2018-{{ site.year }} {{ site.owner }}
   <!-- Design by <a href="https://www.designstub.com/">Designstub</a>. -->
   
   </div>
<script type="text/javascript" src="{{ "/js/foot.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</footer>
  <!-- footer section --> 
