<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }} | {{ site.description }}</title>
   
  
  
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/flexslider.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/jquery.fancybox.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/animate.min.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/font-icon.css" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
 <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
