---
layout: default
---

<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h1>{{ site.title }}</h1>
        </div>
        <!-- hero --> 
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
          <p>{{ site.description }}</p>
        </div>
        <!-- hero --> 
      </div>
    </div>
  </div>
</section>


<!-- header content section --> 
<section id="portfolio">
  <div class="container">
    {{ content }}
  </div>
</section>
  <!-- portfolio grid section --> 
